

<script src="https://kit.fontawesome.com/a3bba5c1a6.js" crossorigin="anonymous"></script>


<div class="">
  <div class="div"> 
         
      <a type="button" href="/" class="a" style="--clr:#00f700"><span> Home </span> <i></i> </a>
      <a type="button" href="/perifericos" class="a" style="--clr:#00f700"><span> Perifericos </span> <i></i> </a>
      {{!-- <a type="button" href="#" class="a" style="--clr:#00f700"><span> PC Armadas </span> <i></i> </a>  --}}
      {{!-- <a type="button" href="/login" class="a" style="--clr:#00f700"><span> Iniciar Sesion  </span> <i></i> </a> --}}
      <a type="button" href="/registro" class="a" style="--clr:#00f700"><span> Registrarse  </span> <i></i> </a>
         
   </div>       
        
         
</div>


