



<div class="plantilla-div">
     <h1 class="plantilla-h1">NombreProducto</h1>

     <div class="plantilla-div-div">
           <img class="img" src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" alt="IMAGEN" width="400px" height="400px" href="/registro" >
           <h4> $precio </h4>
           <p>caracteristicas</p>
           <p>caracteristicas</p>
           <p>caracteristicas</p>
           <p>caracteristicas</p>
           <p>caracteristicas</p>
     </div>















</div>