


<div class="">
    
</div>
<div class="container text-center">
    <h1>
               {{titulo}}
    </h1>
    
</div>





<img src="../images/2022-07-21 12_52_00-Window.png"  alt="">





<H4 class="h4">Productos Destacados</H3>


<div class="divindex">

      <div class="divstyle"> 
             <a href="/teclado" class="a-title">  Teclado redragon kumara k552  </a>
             <img class="img" src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" alt="IMAGEN" width="400px" height="400px" href="/registro" >
      </div>
       
     
     <div class="divstyle"> 
       
                <a href="/teclado" class="a-title">  Teclado redragon kumara k552   </a>        
                <img class="img" src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" width="400px"  alt="" height="400px" >
       
      </div>
    
     <div class="divstyle"> 
             <a href="/teclado" class="a-title">  Teclado redragon kumara k552   </a>
             <img class="img" src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" alt="" width="400px" height="400px" >
      </div>
 </div>
  <div class="divindex">   
     <div class="divstyle"> 
             <a href="/teclado" class="a-title">  Teclado redragon kumara k552   </a>
             <img class="img"  src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" alt="" width="400px" height="400px">
      </div>

     <div class="divstyle"> 
             <a href="/teclado" class="a-title">  Teclado redragon kumara k552 </a>
             <img class="img"  href="/registro" src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" alt="" width="400px" height="400px">
      </div>

       <div class="divstyle"> 
            <a href="/teclado" class="a-title">  Teclado redragon kumara k552  </a>
             <img class="img"  src="https://th.bing.com/th/id/OIP.iXO6v7OCU1Gvj6I6zKg5qAHaE8?pid=ImgDet&rs=1" alt="" width="400px" height="400px">
      </div>



</div>