






<form action="" method="POST">
      <div class="formstyle">
    <label for="usuario" class="">Usuario</label>
    <div class="">
      <input type="text" class="labelstyle" name="usuario" id="usuario" placeholder="coloque su nombre de usuario">
    </div>
  </div>
<form action="" method="POST">
      <div class="formstyle">
    <label for="contraseña" class="">Contraseña</label>
    <div class="">
      <input type="password" class="labelstyle"  name="contraseña" id="contraseña" placeholder="Coloque su contraseña">
    </div>
  </div>

  <div class="formstyle">
    <input  type="submit" class="labelstyle" class="boton-enviar" value="Registarse"  >
  </div>
  <div class="">